textarea {
    min-height: 400px;
}

.single-email {
    border: solid 1px maroon;
    margin-block-end: 10px;
}

#body {
    margin-block-start: 10px;
    border-block-start: 1px solid black;
    padding-block-start: 10px;
}



#reply-button {
    margin: 10px;
}


#emails-view {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}